* {
  padding: 0px;
  margin: 0px;
}

.jobs-bg-container {
  display: flex;
  background-color: black;
  padding: 15px 30px;
  min-height: 100vh;
}

.profile-details-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  padding: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.username {
  color: #6366f1;
  font-size: 20px;
}

.short-bio {
  color: #475569;
  font-size: 15px;
}

.hr-line {
  width: 100%;
  margin-top: 20px;
}

.employment-type-container,
.salary-range-container {
  margin: 20px 0px;
}

.checkbox-field,
.radio-field {
  margin-right: 15px;
  height: 15px;
  width: 15px;
}
.label {
  font-size: 15px;
}

.filters-heading {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
}

.jobs-container {
  margin-left: 15px;
}

.search-container {
  display: flex;
  border: 1px solid white;
  width: 35%;
  justify-content: space-between;
  border-radius: 5px;
}

.search-job-input-field {
  background-color: transparent;
  border: none;
  padding: 5px;
  width: 100%;
  outline: none;
  color: white;
}

.search-icon-container {
  color: white;
  border: none;
  background-color: #272727;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .filters-group-container {
    width: 45%;
  }
  .jobs-container {
    width: 55%;
  }
}

@media (width > 768px) {
  .filters-group-container {
    width: 20%;
  }
  .jobs-container {
    width: 80%;
  }
}

.job-item-container {
  background-color: #272727;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
  list-style-type: none;
}

.logo-title-container {
  display: flex;
}

.title-container {
  margin-left: 10px;
}

.location-salary-details-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  color: white;
}

.company-logo-img {
  height: 50px;
  width: 50px;
}

.title {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
}

.rating {
  padding-top: 10px;
}

.star-rating-icon {
  color: #fbbf24;
  margin-right: 10px;
}

.location-emp-type-container {
  display: flex;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  color: white;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #fbbf24;
  margin-right: 10px;
}

.location {
  margin-right: 10px;
}

.job-description {
  margin: 10px 0px;
}

.description {
  color: white;
  font-family: 'Roboto';
}

.location,
.employmentType {
  display: flex;
  align-items: center;
}

.description {
  font-size: 17px;
  line-height: 1.5;
}

.job-item-details-link {
  text-decoration: none;
}

.search-icon-btn {
  background-color: transparent;
  border: none;
  color: white;
}

.retry-btn {
  padding: 8px 15px;
  color: white;
  border: none;
  margin-top: 30px;
  background-color: #4f46e5;
  border-radius: 5px;
  font-family: 'Roboto';
}

.no-jobs-found-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-jobs-img {
  width: 20%;
}

.no-jobs-description {
  color: white;
}

.no-jobs-heading {
  color: white;
}
