.home-bg-container {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 576px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  }
  .home-heading {
    font-size: 15px;
  }
}

@media (width > 576px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  }
}

.find-job-btn {
  border: none;
  background-color: #6366f1;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 30px;
}

.home-content-container {
  color: white;
  width: 50%;
  padding: 40px;
  line-height: 2.5;
  font-family: 'Roboto';
}

.home-description {
  font-size: 25px;
  line-height: 1.5;
  margin-top: 15px;
  padding-left: 30px;
  font-family: 'Roboto';
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.home-heading {
  font-size: 40px;
  padding-left: 30px;
}
