* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-desktop-view-bg-container,
.header-mobile-view-bg-container {
  display: flex;
  justify-content: space-around;
  background-color: #272727;
  padding: 10px;
}

@media (max-width: 576px) {
  .header-desktop-view-bg-container {
    display: none;
  }
}

@media (width > 576px) {
  .header-mobile-view-bg-container {
    display: none;
  }
}

.header-website-logo {
  height: 30px;
}

.nav-items-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0px 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.logout-btn {
  background-color: #4f46e5;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  color: white;
  font-weight: 600;
}

.logout-btn-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.logout-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .logout-icon {
  height: 30px;
  width: 30px;
} */
