* {
  margin: 0px;
  padding: 0px;
}

.login-bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.form-container {
  background-color: #272727;
  border-radius: 8px;
  padding: 40px;
}

.wesite-logo-container {
  text-align: center;
}

.label-input-container {
  width: 100%;
  margin-top: 25px;
}

.label {
  color: white;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 800;
}

.input-field {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  outline: none;
  padding: 10px;
}

.login-btn-container {
  background-color: #6366f1;

  margin-top: 25px;
  border-radius: 10px;
  padding: 10px;
}

.login-btn {
  border: none;
  background-color: transparent;
  width: 100%;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.website-logo {
  width: 100px;
  height: 50px;
}

.error-msg {
  color: red;
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 15px;
}
